@import '../node_modules/prismjs/themes/prism-tomorrow';
@import './assets/scss/app.scss';



.legend-circle {
    width: 100px;
    height: 100px;
    background: red;
}

.rdt_TableRow {
    font-size: 25px !important;
}